In [1]:
# Hago las importaciones necesarias
import requests
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
# Creo una variable "ruta" con la ruta donde dejaré los archivos 
ruta = 'D:/PythonDimas/JSON/'

In [3]:
# Pido el archivo de las actividades culturales de Madrid por API
resp = requests.post('https://datos.madrid.es/egob/catalogo/206974-0-agenda-eventos-culturales-100.csv')
print(resp.status_code)

200

In [4]:
# Y lo creo en la misma carpeta con el nombre de actividades-100.csv
with open( ruta + 'actividades-100.csv', 'w' ) as f:
            f.write( resp.text )
            f.close()

In [5]:
# Lo abro con pandas y muestro las primeras 5 filas
results = pd.read_csv(ruta + "actividades-100.csv", delimiter=";",encoding = "ISO-8859-1")
results.head(5)

,ID-EVENTO,TITULO,PRECIO,GRATUITO,LARGA-DURACION,DIAS-SEMANA,DIAS-EXCLUIDOS,FECHA,FECHA-FIN,HORA,...,DISTRITO-INSTALACION,BARRIO-INSTALACION,CODIGO-POSTAL-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO,AUDIENCIA,Unnamed: 29
0,11729439,10 de la AEPE,NaN,1,1,"L,M,X,J,V",15/8/2022;,2022-07-19 00:00:00.0,2022-09-28 23:59:00.0,NaN,...,RETIRO,PACIFICO,28007.0,442527.0,4472618.0,40.402190,-3.677283,/contenido/actividades/Exposiciones,NaN,NaN
1,11730678,1917,NaN,1,0,NaN,NaN,2022-09-10 00:00:00.0,2022-09-10 23:59:00.0,22:00,...,CIUDAD LINEAL,CONCEPCION,28027.0,444836.0,4476387.0,40.436300,-3.650410,/contenido/actividades/ProgramacionDestacadaAg...,NaN,NaN
2,11718625,1917 + Corto,NaN,1,0,NaN,NaN,2022-09-02 00:00:00.0,2022-09-02 23:59:00.0,22:15,...,SAN BLAS-CANILLEJAS,HELLIN,28037.0,447225.0,4475668.0,40.429968,-3.622184,/contenido/actividades/CineActividadesAudiovis...,NaN,NaN
3,11713087,38º Veranos de la Villa 2022.,NaN,1,1,"L,M,X,J,V,S,D",NaN,2022-07-05 00:00:00.0,2022-08-28 23:59:00.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/contenido/actividades/CuentacuentosTiteresMar...,NaN,NaN
4,11732939,8ª Bienal Iberoamericana de Diseño,NaN,0,1,"L,M,X,J,V,S,D",NaN,2022-07-04 00:00:00.0,2022-08-07 23:59:00.0,NaN,...,ARGANZUELA,CHOPERA,28045.0,440946.0,4471394.0,40.391055,-3.695807,NaN,NaN,NaN

In [6]:
# saco el nombre de las columnas y veo que la primera columna tiene un espacio en blanco antes del nombre : ID-EVENTO
results.columns

Index([' ID-EVENTO', 'TITULO', 'PRECIO', 'GRATUITO', 'LARGA-DURACION',
       'DIAS-SEMANA', 'DIAS-EXCLUIDOS', 'FECHA', 'FECHA-FIN', 'HORA',
       'DESCRIPCION', 'CONTENT-URL', 'TITULO-ACTIVIDAD', 'URL-ACTIVIDAD',
       'URL-INSTALACION', 'NOMBRE-INSTALACION', 'ACCESIBILIDAD-INSTALACION',
       'CLASE-VIAL-INSTALACION', 'NOMBRE-VIA-INSTALACION', 'NUM-INSTALACION',
       'DISTRITO-INSTALACION', 'BARRIO-INSTALACION',
       'CODIGO-POSTAL-INSTALACION', 'COORDENADA-X', 'COORDENADA-Y', 'LATITUD',
       'LONGITUD', 'TIPO', 'AUDIENCIA', 'Unnamed: 29'],
      dtype='object')

In [7]:
# Me quedo con todas las filas pero sólo de 10 columnas y las ordeno por el BARRIO-INSTALACION
acti = results.loc[:, [" ID-EVENTO", "TITULO", "GRATUITO", "HORA", "DISTRITO-INSTALACION", "BARRIO-INSTALACION", "CODIGO-POSTAL-INSTALACION", "LONGITUD", "LATITUD", "TIPO"]].sort_values(by="BARRIO-INSTALACION")
acti.head(5)

,ID-EVENTO,TITULO,GRATUITO,HORA,DISTRITO-INSTALACION,BARRIO-INSTALACION,CODIGO-POSTAL-INSTALACION,LONGITUD,LATITUD,TIPO
222,11726744,Goher,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica
130,11726739,De Sabina a Drexler,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica
322,11700097,Mujeres Árbol. Exposición,1,NaN,RETIRO,ADELFAS,28007.0,-3.668092,40.402549,/contenido/actividades/Exposiciones
131,11587808,Degustación de felicidad,1,10:00,RETIRO,ADELFAS,28007.0,-3.668092,40.402549,/contenido/actividades/CursosTalleres
315,11726738,Mr. Robinson,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica

In [8]:
titulo = "TITULO"
gratuito = "GRATUITO"
hora = "HORA"
distrito = "DISTRITO-INSTALACION"
barrio = "BARRIO-INSTALACION"
codigo = "CODIGO-POSTAL-INSTALACION"
longitud = "LONGITUD"
latitud = "LATITUD"
tipo = "TIPO"

# Renombramos 10 columnas de 2f ormas diferentes y ponemos inplace para que lo cambie sobre el mismo acti y no nos de una copia
acti.rename(columns={' ID-EVENTO': "Evento"}, inplace=True)
acti.rename(columns={titulo: "Titulo", gratuito: "Gratuito", hora: "Hora", distrito: "Distrito", barrio: "Barrio", codigo: "Codigo"}, inplace=True)
acti.rename(columns={longitud: "Longitud", latitud: "Latitud", tipo: "Tipo"}, inplace=True)
acti.head(5)

,Evento,Titulo,Gratuito,Hora,Distrito,Barrio,Codigo,Longitud,Latitud,Tipo
222,11726744,Goher,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica
130,11726739,De Sabina a Drexler,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica
322,11700097,Mujeres Árbol. Exposición,1,NaN,RETIRO,ADELFAS,28007.0,-3.668092,40.402549,/contenido/actividades/Exposiciones
131,11587808,Degustación de felicidad,1,10:00,RETIRO,ADELFAS,28007.0,-3.668092,40.402549,/contenido/actividades/CursosTalleres
315,11726738,Mr. Robinson,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica

In [9]:
#Número filas y columnas
acti.shape

(506, 10)

In [10]:
# Borrar todas las filas que contengan NaN y lo dejo en dataframe actividades, pero nosotros sólo vamos a quitar las filas con NaN en 2 columnas con subset
actividades = acti.dropna(subset=["Latitud", "Longitud"])
actividades.shape

(395, 10)

In [11]:
actividades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 222 to 86
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Evento    395 non-null    int64
 1   Titulo    395 non-null    object
 2   Gratuito  395 non-null    int64
 3   Hora      280 non-null    object
 4   Distrito  395 non-null    object
 5   Barrio    394 non-null    object
 6   Codigo    395 non-null    float64
 7   Longitud  395 non-null    float64
 8   Latitud   395 non-null    float64
 9   Tipo      361 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 33.9+ KB

In [12]:
# Limpiar el código para quitarle el .0 que es un float64, cambiarlo a texto como distrito
actividades.loc[:,'Codigo'] = actividades['Codigo'].astype(str)

In [13]:
actividades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 222 to 86
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Evento    395 non-null    int64
 1   Titulo    395 non-null    object
 2   Gratuito  395 non-null    int64
 3   Hora      280 non-null    object
 4   Distrito  395 non-null    object
 5   Barrio    394 non-null    object
 6   Codigo    395 non-null    object
 7   Longitud  395 non-null    float64
 8   Latitud   395 non-null    float64
 9   Tipo      361 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 33.9+ KB

In [14]:
actividades.head(5)

,Evento,Titulo,Gratuito,Hora,Distrito,Barrio,Codigo,Longitud,Latitud,Tipo
222,11726744,Goher,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica
130,11726739,De Sabina a Drexler,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica
322,11700097,Mujeres Árbol. Exposición,1,NaN,RETIRO,ADELFAS,28007.0,-3.668092,40.402549,/contenido/actividades/Exposiciones
131,11587808,Degustación de felicidad,1,10:00,RETIRO,ADELFAS,28007.0,-3.668092,40.402549,/contenido/actividades/CursosTalleres
315,11726738,Mr. Robinson,1,20:00,RETIRO,ADELFAS,28007.0,-3.670134,40.398196,/contenido/actividades/Musica

In [15]:
# Limpiar el código para quitarle el .0 mejor con función lambda como texto cogiendo 5 primeros caracteres porque lo anterior no funciona.
actividades['Codigo'] = actividades['Codigo'].apply(lambda x : x[:5])
actividades.head(5)

,Evento,Titulo,Gratuito,Hora,Distrito,Barrio,Codigo,Longitud,Latitud,Tipo
222,11726744,Goher,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,/contenido/actividades/Musica
130,11726739,De Sabina a Drexler,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,/contenido/actividades/Musica
322,11700097,Mujeres Árbol. Exposición,1,NaN,RETIRO,ADELFAS,28007,-3.668092,40.402549,/contenido/actividades/Exposiciones
131,11587808,Degustación de felicidad,1,10:00,RETIRO,ADELFAS,28007,-3.668092,40.402549,/contenido/actividades/CursosTalleres
315,11726738,Mr. Robinson,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,/contenido/actividades/Musica

In [16]:
# Saca las actividades unicas de la columna Tipo
actividades.Tipo.unique()

array(['/contenido/actividades/Musica',
       '/contenido/actividades/Exposiciones',
       '/contenido/actividades/CursosTalleres',
       '/contenido/actividades/TeatroPerformance',
       '/contenido/actividades/CuentacuentosTiteresMarionetas',
       '/contenido/actividades/Musica/CantautorFolkCountry',
       '/contenido/actividades/DanzaBaile/FolcloreEtnica',
       '/contenido/actividades/CineActividadesAudiovisuales', nan,
       '/contenido/actividades/TeatroPerformance/ComediaMonologo',
       '/contenido/actividades/ExcursionesItinerariosVisitas',
       '/contenido/actividades/1ciudad21distritos',
       '/contenido/actividades/ProgramacionDestacadaAgendaCultura',
       '/contenido/actividades/ActividadesCalleArteUrbano',
       '/contenido/actividades/Campamentos',
       '/contenido/actividades/ItinerariosOtrasActividadesAmbientales',
       '/contenido/actividades/ClubesLectura',
       '/contenido/actividades/ConcursosCertamenes',
       '/contenido/actividades/ActividadesDeportivas',
       '/contenido/actividades/DanzaBaile',
       '/contenido/actividades/ConferenciasColoquios',
       '/contenido/actividades/DanzaBaile/Flamenco',
       '/contenido/actividades/Musica/Flamenco',
       '/contenido/actividades/Fiestas'], dtype=object)

In [17]:
# Dejo en acti la copia de actividades, borro los nan de la columna Tipo y le aplico una función lambda para quitarle el primer caracter '/' a la 
# columna Tipo
acti = actividades
acti = acti.dropna(subset=["Tipo"])
acti['Tipo'] = acti['Tipo'].apply(lambda x : x[1:])
acti.head(5)

,Evento,Titulo,Gratuito,Hora,Distrito,Barrio,Codigo,Longitud,Latitud,Tipo
222,11726744,Goher,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,contenido/actividades/Musica
130,11726739,De Sabina a Drexler,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,contenido/actividades/Musica
322,11700097,Mujeres Árbol. Exposición,1,NaN,RETIRO,ADELFAS,28007,-3.668092,40.402549,contenido/actividades/Exposiciones
131,11587808,Degustación de felicidad,1,10:00,RETIRO,ADELFAS,28007,-3.668092,40.402549,contenido/actividades/CursosTalleres
315,11726738,Mr. Robinson,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,contenido/actividades/Musica

In [18]:
# Voy a crear un dataframe tipos de la columna Tipo separando su contenido por el carácter '/' y creará 4 columnas en el dataframe tipos
tipos = acti['Tipo'].str.split('/', expand = True)
# Renombro las columnas creadas
tipos.columns = ['Tipoa', 'Tipob', 'Tipo1', 'Tipo2']
# Borro las columnas 1 y 2 porque tienen los valores contenido y actividades respectivamente y no aportan nada. 
# Me quedo sólo con las columnas Tipo1 y Tipo2.
tipos.drop(["Tipoa", "Tipob"], axis = 1, inplace = True)

# Al dataframe acti le concateno el nuevo dataframe creado llamado "tipos"
acti = pd.concat([acti, tipos], axis=1)
acti.head(5)

,Evento,Titulo,Gratuito,Hora,Distrito,Barrio,Codigo,Longitud,Latitud,Tipo,Tipo1,Tipo2
222,11726744,Goher,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,contenido/actividades/Musica,Musica,None
130,11726739,De Sabina a Drexler,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,contenido/actividades/Musica,Musica,None
322,11700097,Mujeres Árbol. Exposición,1,NaN,RETIRO,ADELFAS,28007,-3.668092,40.402549,contenido/actividades/Exposiciones,Exposiciones,None
131,11587808,Degustación de felicidad,1,10:00,RETIRO,ADELFAS,28007,-3.668092,40.402549,contenido/actividades/CursosTalleres,CursosTalleres,None
315,11726738,Mr. Robinson,1,20:00,RETIRO,ADELFAS,28007,-3.670134,40.398196,contenido/actividades/Musica,Musica,None

In [19]:
# Aquí tengo el dataframe preparado con todas las filas que tienen longitud y latitud para poder trabajar con el y mostrarlo en un mapa
# Guardar el resultado en el fichero actividades-100-fin.csv en la misma carpeta usando la variable ruta, los campos están separados por comas
# Poner al final index=False para que no incluya el numero índice de cada fila
actividades_fin = acti.to_csv(ruta + 'actividades-100-fin.csv', index=False)

# En este fichero tengo las actividades culturales de Madrid que tienen latitud y longitud para poder representarlas en un mapa.